header {
	width: 600px;
}
.navbar-collapse {
	width: 100%;
}
.container-fluid {
	padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
#headernav {
	background-color: #4c4d49;

}
#head-text {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	padding: 10px;
	color: #0d0b0b;
}
#collapsable-nav {
	color: #cdeb09;
    
}

.container h1 {
	margin-top: 35px;
	text-align: center;
	font-size: 35px; 
}
#h3 {
	padding: 15px; 
	text-align: center; 
    
}
#chicken {
	margin-top: 40px;
	font-size: 20px;
	background-color: #918c8c;
}

#navbarlist {
	width:100%;
	text-align: center;
}
